@media screen and (max-width: 960px) {
 html{
  overflow-x: hidden;
 }
 body{
  overflow-x: hidden;
  position: relative;
 }
 p{
  line-height: 22px;
  font-size: 13px;
 }
 button{
  font-size: 12px;
 }
 .nav {
  padding: 25px 30px;
  overflow: hidden;
 }
 .logo {
  margin-left: 10px;
 }
 .show-menu {
  display: flex;
    z-index: 1;
    cursor: pointer;
    font-size: 25px;
 }
 .links {
  flex-direction: column;
    transform: translateX(0);
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    transition: var(--main-transition);
    z-index: 1;
    padding: 30px 200px 80px 30px;
    box-shadow: -4px 4px 3px 1px rgba(173, 172, 172, 0.3);
 }
 .links.none{
  transform: translateX(120%);
 }
 .links li {
  margin: 10px 0;
  font-size: 20px;
 }
 .links .sign{
  flex-direction: column;
  margin-left: 0;
 } 
 .started {
  background: none;
  color: var(--primary-color);
  padding: 0;
  margin-top: 0;
 }
 .sub-links {
  margin: 30px 30px 30px 20px;
 }
 .sub-links.big{
  display: none;
 }
 .sub-links.small{
  display: flex;
 }
 .sub-links li {
  margin-left: 10px;
  padding: 6px;
  font-size: 12px;
 }

 .search-bar {
  display: flex;
  justify-content: flex-start;
  margin: 30px;
 }
 .search-form {
  display: block;
  width: 100%;
  box-shadow: none;
 }
 .search-form input {
  width: 100%;
  padding: 20px;
  border: 2px solid var(--primary-color);
  margin-bottom: 20px;
  border-radius: 4px;
 }
 .search-form input::placeholder {
  font-family: 'Nunito';
 }
 .search-form button {
  width: 100%;
    border-radius: 4px;
      border: 3px solid var(--primary-color);
      font-size: 13px;
 }
 .section {
  margin: 50px 0;
  width: 100%;
  z-index: -1;
 }
 .swipe-left, .swipe-right{
  display: none;
 }
 .section-text {
 width: 200px;
 height: 130px;
  bottom: -12%;
  left: 30px;
  padding: 20px;
  box-shadow: 3px 3px 10px 6px rgba(173, 172, 172, 0.3);
 }
 .section-text h4 {
  font-size: 25px;
 }

 .partners {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 130px 0 50px;
 }
 .partners .head h4{
  margin-left: 30px;
    margin-bottom: 0;
      font-size: 17px;
 }
 .partners-list{
    flex-wrap: wrap;
 }
 .partners-list h4 {
  margin-left: 30px;
  margin-top: 20px;
        font-size: 16px;
 }

 .experiences {
  margin: 30px 0 30px 30px;
 }
 .experiences .head h3 {
  font-size: 20px;
 }
 .experiences-left, .experiences-right{
  display: none;
 }
 .experiences-boxes {
  overflow-x: hidden;
 }
 .experience-box {
  width: 172px;
 }
 .experience-box .img-bx {
  height: 172px;
 }
 .experience-box .text-bx h5 {
  font-size: 16px;
 }
 .experience-box .text-bx p {
  font-size: 13px;
 }

 .offers {
  padding: 50px 0 50px 30px;
 }
 .offers-text h3 {
   width: 317px;
   font-size: 20px;
 }
 .offers-text p {
  width: 317px;
  font-size: 13px;
 }
 .buttons{
  display: none;
 }
 .offers-nav{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 30px 30px 0;
 }
 .offers-box {
  width: 303px;
 }

 .merchant {
  margin: 50px 30px;
  justify-content: flex-start;
  align-items: flex-start;
 }
 .merchant .text-bx {
  width: 100%;
 }
 .merchant .text-bx h3 {
  font-size: 20px;
 }
 .merchant .text-bx ul li {
  font-size: 13px;
 }
 .img-stack, .merchant-text{
  display: none;
 }

 .investments {
  padding: 50px 0 50px 30px;
  background: var(--primary-color);
 }
 .investments .head {
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 30px;
 }
 .investments .head .text-bx {
  width: 100%;
 }
 .investments .head .text-bx h3 {
  font-size: 20px;
 }
 .investments .head ul li{
  display: none;
 }
 .investmentsbox {
  width: 303px;
 }
 .investmentsbox .text-bx h4 {
  font-size: 16px;
 }

 .loans {
  margin: 30px;
 }
 .loans .text-bx h1 {
  font-size: 25px;
    width: 100%;
 }
 .loans .text-bx p {
  margin: 30px;
  width: 100%;
 }
 .loans-boxes {
  flex-wrap: wrap;
 }
 .loans-box {
  width: 100%;
  margin-top: 30px;
    margin-right: 0;
 }
 .loans-box p {
  margin: 10px 0;
  font-family: 'Nunito Sans';
  font-size: 13px;
 }
 .loans-box h3 {
  font-family: 'Recoleta Alt';
  font-size: 20px;
 }

 .shortlets {
  height: 70vh;
 }
 .shortlets-boxes{
  display: none;
 }
 .shortlets .text-bx {
  color: #ffff;
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 30px;
 }
 .shortlets .text-bx li {
  font-size: 13px;
 }
 .shortlets .text-bx h2 {
  font-size: 30px;
  margin: 20px 30px 20px 0;
  width: 100%;
 }
 .shortlets .text-bx p {
    width: 324px;
 }
 .waiting-list {
  margin: 30px;
 }
 .waiting-list h1 {
  font-size: 25px;
 }
 .waiting-list p {
  width: 100%;
  margin: 20px 0 40px;
  font-family: 'Nunito Sans';
 }
 .waiting-list input {
  width: 100%;
 }
 
 .footer {
  display: none;
 }
 .footer.small {
  display: flex;
  height: 130vh;
  flex-wrap: wrap;
  grid-template-columns: none;
  padding: 0;
  grid-gap: 0;
  padding: 50px 30px;
 }
 .footer.small li {
  font-size: 12px;
 }
 .col-1 {
  width: 100%;
  max-width: 100%;
 }
 .col-2-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 30px;
 }
 .col-2 {
  margin-left: 0;
 }
 .col-2 .head, .col-4 .head{
  margin-bottom: 30px;
 }
 .col-4{
  margin-top: -70px;
 }
 .footer-img {
  bottom: -8%;
 }
 .copyright{
  bottom: -6%;
  left: 30px;
 }
 .terms{
    bottom: -7.5%;
      left: 30px;
 }
}