html {
  --primary-color: rgb(100, 206, 174);
  --main-grey: rgb(104, 104, 104);
  --main-transition: 0.3s linear all;
  --main-blue: rgb(74, 141, 195);
  --spacing: 1.3px;
  --small-spacing: 1px;
  --line-height: 20px;
}
body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
button{
  cursor: pointer;
  letter-spacing: var(--spacing);
  font-size: 16px;
}
p{
    letter-spacing: var(--small-spacingspacing);
    font-size: 20px;
    line-height: var(--line-height);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}
.logo {
  margin-left: 100px;
}
.show-menu {
  display: none;
}
.links {
  display: flex;
  padding-top: 15px;
}
.links li {
  margin-left: 30px;
  text-transform: capitalize;
  cursor: pointer;
  font-family: 'Nunito Sans';
  /* font-weight: 600; */
}
.links .sign {
  display: flex;
  margin-left: 40px;
}
.login {
  color: var(--primary-color);
    font-family: 'Nunito Sans';
    /* font-weight: 700; */
}
.started {
  background: var(--primary-color);
  color: #ffff;
  padding: 15px 20px;
  margin-top: -15px;
  font-family: 'Nunito Sans';
  /* font-weight: 600; */
  font-size: 16px;
}
.sub-links {
  display: flex;
  justify-content: center;
  margin: 30px 60px;
  position: relative;
}
.sub-links li {
  margin-left: 20px;
  border: 1px solid black;
  padding: 6px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  transition: var(--main-transition);
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-size: 20px;
}
.sub-links li:hover {
  background: var(--primary-color);
  color: #ffff;
  border: 1px solid var(--primary-color);
}
.drop-links{
  position: absolute;
  right: 2.2%;
  bottom: -200%;
  background: #fff;
    margin: 0;
    padding: 5px 45px 5px 10px;
    box-shadow: -4px 4px 3px 1px rgba(173, 172, 172, 0.3);
}
.drop-links li{
margin: 10px 10px 15px;
border: none;
width: 100%;
  padding: 0;
display: flex;
justify-content: flex-start;
align-items: flex-start;
text-align: start;
text-transform: capitalize;
cursor: pointer;
font-family: 'Nunito Sans';
font-size: 13px;
}
.drop-links li:hover{
  background: none;
  color: black;
  border: none;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-shadow: 0px 2px 5px 2px rgba(173, 172, 172, 0.5);
}
.search-form input {
  width: 90%;
  padding: 20px;
  border: none;
}
.search-form input::placeholder{
  font-family: 'Nunito';
}
.search-form button {
  padding: 17px 50px;
  background: var(--primary-color);
  color: #ffff;
  border: none;
  font-family: 'Nunito';
  font-size: 20px;
}
.section {
  margin: -80px 0 50px 0;
  background: url("/public/images/banner.png");
  width: 94.5%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}
.swipe-left {
  background: #ffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 6%;
}
.swipe-right {
  background: #ffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  right: -2%;
  box-shadow: 2px 0px 2px 2px rgb(240, 240, 240);
}
.section-text {
  background: #ffff;
  width: 20%;
  height: 25%;
  position: absolute;
  bottom: 10%;
  left: 14%;
  padding: 20px;
}
.section-text p {
  font-size: 12px;
  margin-bottom: 7px;
  font-family: 'Nunito Sans';
}
.section-text h4 {
  margin-bottom: 3px;
  font-size: 30px;
  font-family: 'Recoleta';
}
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.partners .head h4 {
  color: var(--primary-color);
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Nunito Sans';
}
.partners-list {
  display: flex;
}
.partners-list h4 {
  margin-left: 50px;
    font-size: 20px;
      color: grey;
}
.experiences {
  margin: 50px 80px;
}
.experiences .head {
  margin-bottom: 20px;
}
.experiences .head h3{
  font-size: 30px;
  font-family: 'Recoleta';
}
.experiences-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  position: relative;
  max-width: 100%;
}
.experience-box {
  /* margin-right: 15px; */
  width: 100%;
}
.experience-box .img-bx {
  width: 100%;
  height: 200px;
}
.experience-box .img-bx img {
  width: 100%;
  height: 100%;
}
.experiences-left {
  background: #ffff;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: -1.5%;
}
.experiences-right {
  background: #ffff;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  right: -1.5%;
}
.experience-box .text-bx {
  margin-top: 10px;
}
.experience-box .text-bx h5{
  font-size: 25px;
  font-family: 'Nunito Sans';
}
.experience-box .text-bx p {
  margin-top: 5px;
  font-size: 16px;
  font-family: 'Nunito Sans';
}
.offers {
  background: rgb(229, 255, 248);
  padding: 50px 0 50px 80px;
}
.offers-text {
  margin-bottom: 30px;
  width: 600px;
}
.offers-text h3 {
  margin-bottom: 10px;
    font-size: 38px;
    font-family: 'Recoleta Alt';
}
.offers-text p{
  font-family: 'Nunito Sans';
}
.offers-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px 30px 0;
}
.offers-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  border: 1px solid var(--primary-color);
  padding: 5px;
}
.offers-nav ul li {
  cursor: pointer;
  padding: 8px;
  /* margin-right: 20px; */
  transition: var(--main-transition);
  text-align: center;
  color: var(--primary-color);
  font-family: 'Nunito Sans';
  font-size: 14px;
}
.offers-nav ul li:hover {
  background: var(--primary-color);
  color: #fff;
}
.buttons {
  display: flex;
}
.offers-left {
  background: rgb(213, 228, 226);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  margin-right: 8px;
}
.offers-right {
  background: rgb(213, 228, 226);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.offers-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow-x: hidden;
}
.offers-box {
  width: 350px;
  height: 250px;
  position: relative;
}
.a {
  background: url("/public/images/offers1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.b {
  background: url("/public/images/offers2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.c {
  background: url("/public/images/offers3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.d {
  background: url("/public/images/offers4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0;
}
.offers-box span{
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #fff;
  background: var(--primary-color);
  border-radius: 20px;
  position: absolute;
  right: 2%;
  top: 3%;
  font-size: 12px;
}
.offers-box .text-bx {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #ffff;
}
.offers-box .text-bx h4{
  font-size: 22px;
  margin-bottom: 5px;
  font-family: 'Recoleta Alt';
}
.offers-box .text-bx p {
  font-size: 13px;
  font-family: 'Nunito Sans';
}
.merchant {
  margin: 100px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.merchant .text-bx {
  width: 50%;
}
.merchant .text-bx h3{
  font-size: 38px;
  font-family: 'Recoleta';
}
.merchant .text-bx p {
  margin: 10px 0 20px;
  font-family: 'Nunito Sans';
}
.merchant .text-bx ul li {
  list-style: disc;
  margin-left: 22px;
  margin-bottom: 5px;
  font-family: 'Nunito Sans';
  font-size: 20px;
}
.merchant .text-bx button {
  margin-top: 20px;
  background: var(--primary-color);
  color: #ffff;
  padding: 15px 20px;
  border: none;
  font-family: 'Nunito Sans';
}
.img-stack {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.one,
.two,
.three,
.four {
  grid-column: 1;
  grid-row: 1;
}
.three {
  transform: rotate(4deg);
}
.two {
  transform: rotate(2deg);
}
.one {
  transform: rotate(-4deg);
}
.four {
  transform: rotate(-2deg);
}
.merchant-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}
.merchant-text {
  margin-top: 20px;
  text-align: center;
}
.merchant-text h4{
  font-size: 20px;
  margin-bottom: 5px;
  font-family: 'Nunito Sans';
}
.merchant-text p{
  /* margin-bottom: 5px; */
  font-family: 'Nunito Sans';
  font-size: 13px;
}
.investments {
  padding: 50px 0 50px 80px;
  background: var(--primary-color);
}
.investments .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
  padding-right: 80px;
}
.investments .head .text-bx {
  width: 500px;
}
.investments .head .text-bx h3{
  font-size: 38px;
  font-family: 'Recoleta';
}
.investments .head .text-bx p {
  margin: 10px 0 20px 0;
  font-family: 'Nunito Sans';
}
.investments .head ul li {
  background: transparent;
  border: 1px solid #ffff;
  padding: 15px 20px;
  font-family: 'Nunito Sans';
  font-size: 16px;
}
.investmentsboxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: hidden;
  margin-top: 10px;
  grid-gap: 15px;
}
.investmentsbox {
  background: #ffff;
  padding: 8px;
  width: 350px;
  height: auto;
}
.investmentsbox .img-bx{
  width: 100%;
  height: 220px;
}
.investmentsbox .img-bx img{
    width: 100%;
    height: 100%;
}
.investmentsbox .text-bx h4{
  font-family: 'Recoleta Alt';
  font-size: 24px;
}
.investmentsbox .text-bx p {
  margin: 10px 0;
  font-family: 'Nunito Sans';
  font-size: 13px;
}
.investments .button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.investments .button button {
  background: transparent;
  border: 1px solid #ffff;
  color: white;
  padding: 15px 20px;
  font-family: 'Nunito Sans';
}
.loans {
  margin: 50px;
}
.loans .text-bx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}
.loans .text-bx h1 {
  width: 850px;
  font-size: 67px;
  font-family: 'Recoleta Alt';
}
.loans .text-bx p {
  margin: 20px;
  width: 700px;
  font-family: 'Nunito Sans';
}
.loans .text-bx button {
  background: var(--main-blue);
  color: #ffff;
  padding: 15px 20px;
  border: none;
  font-family: 'Nunito Sans';
}
.loans-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loans-box {
  border: 1px solid black;
  padding: 10px;
  width: 320px;
  margin-right: 20px;
}
.loans-box p {
  margin: 10px 0;
  font-family: 'Nunito Sans';
  font-size: 16px;
}
.loans-box h3{
  font-family: 'Recoleta Alt';
    font-size: 24px;
}
.loans-m {
  margin: 30px 0 10px 0;
  font-family: 'Nunito Sans';
  font-size: 12px;
}
.icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #EBF5F1;;
  margin-right: 9px;
}
.icon-text{
  font-size: 12px;
}
.shortlets {
  background: url("/public/images/shortlets.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}
.shortlets .text-bx {
  color: #ffff;
  width: 500px;
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.shortlets .text-bx h2 {
  font-size: 67px;
  margin: 20px 0;
  width: 550px;
  font-family: 'Recoleta';
}
.shortlets .text-bx p {
  margin-bottom: 20px;
  font-family: 'Nunito Sans';
}
.shortlets .text-bx button {
  background: var(--main-blue);
  color: #ffff;
  padding: 15px 20px;
  border: none;
  margin-bottom: 10px;
  font-family: 'Nunito Sans';
}
.shortlets .text-bx li {
  border: 1px solid #fff;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-family: 'Nunito Sans';
}
.shortlets-boxes {
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;
  position: absolute;
  top: 30%;
  right: -12%;
}
.shortlets-box {
  background: #ffff;
  padding: 8px;
  width: 40%;
  margin-right: 15px;
}
.shortlets-box .img-bx {
  width: 100%;
}
.shortlets-box .img-bx img {
  width: 100%;
}
.shortlets-boxes .box-text-bx {
  color: black;
}
.shortlets-boxes .box-text-bx p{
  font-size: 12px;
  margin: 5px 0;
  font-family: 'Nunito Sans';
}
.shortlets-boxes .box-text-bx h4{
  font-size: 24px;
  font-family: 'Recoleta Alt';
}
.waiting-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px;
  text-align: center;
}
.waiting-list h1{
  font-size: 67px;
  font-family: 'Recoleta Alt';
}
.waiting-list p{
  width: 600px;
  margin: 20px 0 40px;
  font-family: 'Nunito Sans';
}
.waiting-list input{
  width: 400px;
  padding: 20px;
  margin-bottom: 30px;
}
.waiting-list input::placeholder{
    font-family: 'Nunito Sans';
}
.waiting-list button{
  background: var(--primary-color);
  color: #ffff;
  padding: 15px 20px;
  border: none;
  margin-bottom: 10px;
  font-family: 'Nunito Sans';
}
.footer{
  background: #071F2C;
  height: 90vh;
  position: relative;
  color: #fff;
  border-bottom: 100px solid #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 80px;
  grid-gap: 80px;
  font-family: 'Nunito Sans';
}
.footer h4{
  font-size: 16px;
}
.footer li{
  font-size: 14px;
}
.col-1, .col-2, .col-4{
  max-width: 250px;
}
.col-1 .img-bx{
  margin-bottom: 20px;
}
.col-1 .img-bx img{
  filter: invert(100%);
}
.col-1 .text-bx p{
  font-size: 12px;
}
.col-2{
  margin-left: 50px;
}
.col-2 .head{
  margin-bottom: 50px;
}
.footer-links li{
    margin-bottom: 20px;
}
.col-4 .head{
  margin-bottom: 50px;
}
.col-4 .top{
    margin-bottom: 50px;
}
.footer .social-links{
  margin-top: -10px;
}
.footer .social-links span{
  margin-right: 5px;
}
.footer .social-links span .social{
  width: 32px;
  height: 32px;
  border-radius: 13px;
}
.footer .social-links span .cards{
  width: 32px;
  height: 32px;
}
.footer-img{
  /* z-index: 1;  */
  position: absolute;
  bottom: -12%;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
.copyright{
    position: absolute;
    bottom: -10%;
    left: 5.8%;
    color: black;
    font-size: 12px;
}
.terms{
    position: absolute;
    bottom: -10%;
    right: 5.8%;
    color: black;
    font-size: 12px;
}
